<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017. Experitest
  ~
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="iOS Suite">
  <test name="Test">
    <!--<classes>-->
      <!--<parameter name="os" value="ios"/>-->
      <!--<class name="app.LoginTest"/>-->
    <!--</classes>-->
    <classes>
      <parameter name="os" value="ios"/>
      <class name="web.SearchGoogleTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
