<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017. Experitest
  ~
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="iOS Suite" parallel="tests" thread-count="5">
  <!--Test 1 -->
  <test name="Android Test Login">
    <classes>
      <parameter name="os" value="android" name="grid" value="true"/>
      <class name="app.tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->

  <!--Test 2 -->
  <test name="iOS Test Login">
    <classes>
      <parameter name="os" value="ios" name="grid" value="true"/>
      <class name="app.tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->

  <!--Test 3 -->
  <test name="Android Test Google">
    <classes>
      <parameter name="os" value="android" name="grid" value="true"/>
      <class name="web.tests.SearchGoogleTest"/>
    </classes>
  </test> <!-- Test -->

  <!--Test 4 -->
  <test name="iOS Test Google">
    <classes>
      <parameter name="os" value="ios" name="grid" value="true"/>
      <class name="web.tests.SearchGoogleTest"/>
    </classes>
  </test> <!-- Test -->






</suite> <!-- Suite -->
